@font-face {
  font-family: "iconfont"; /* Project id 3519622 */
  src: url('iconfont.woff2?t=1659082722450') format('woff2'),
       url('iconfont.woff?t=1659082722450') format('woff'),
       url('iconfont.ttf?t=1659082722450') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuliu:before {
  content: "\e75f";
}

.icon-caidanshujutongji:before {
  content: "\e61d";
}

.icon-dingdanguanli:before {
  content: "\ea61";
}

.icon-quanxianguanli:before {
  content: "\e600";
}

.icon-shangpinguanli:before {
  content: "\e696";
}

.icon-yonghuguanli:before {
  content: "\e601";
}

.icon-password:before {
  content: "\e64a";
}

.icon-yonghuming:before {
  content: "\e65e";
}

