@font-face {
  font-family: "iconfont"; /* Project id 3519622 */
  src: url('iconfont.woff2?t=1657699640638') format('woff2'),
       url('iconfont.woff?t=1657699640638') format('woff'),
       url('iconfont.ttf?t=1657699640638') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e64a";
}

.icon-yonghuming:before {
  content: "\e65e";
}

